// Font
$font-stack: 'Karla', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

// Colours
$black: #000000;
$white: #f2f2f2;
$background: #fefefe;
$grey-000: #f2f2f2;
$grey-100: #f8f8f8;
$grey-200: #e9e9e9;
$grey-300: #c4c4c4;
$orange: #f17835;
$beige: #d8d0be;
$red-200: #b00000;

// Screen sizes
$screen-sm-max: 576px;
$screen-md-max: 768px;
$screen-lg-max: 992px;
$screen-xl-max: 1300px;
$xl-max-width: 1000px;

// Mixins
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
    @content;
  }
}
